:root {
    // --color-primary: #faeddf;
    // --color-primary-light: #fcf7f1;
    // --color-primary-dark: #f0deca;

    // --color-primary: #425cbb;
    --color-primary: #00b4d9;
    --color-primary-light: #efecf0;
    --color-primary-dark: #dad8da;

    --color-font-primary: #000;
    --color-font-secondary: #777;

    --color-header-1: #585665;
    --color-header-2: #ee6055;
    // --color-header-2: #f8a577;
    --color-header-3: #102542;
    // --color-header-3: #e8c547;
    // --color-header-3: #56876d;
    // --color-header-1: #198597;
    // --color-header-2: #f8a577;
    // --color-header-3: #fff485;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

$bp-largest: 75em; // 1200px

* {
    margin: 0px;
    padding: 0px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: 900px) {
        font-size: 60%;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-font-primary);
    background-color: var(--color-primary-light);
    // padding: 60px;

    a {
        text-decoration: none !important;
    }
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    // background-color: #f1eef1;
    background-color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-primary);
}
