.side-bar {
    border-radius: 2%;

    .img-container {
        padding: 0px;
        clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);

        @media only screen and (max-width: 900px) {
            height: 80%;
        }
    }

    .first-name {
        font-size: 2.5em;
        font-weight: 500;
        text-transform: uppercase;
    }

    .designation {
        font-size: 1.5em;
        font-weight: 400;
        color: #777;
    }

    .info-list {
        position: relative;
        font-size: 1.5rem;

        li {
            list-style: none;
            padding-left: 40px;
            height: 100%;
            margin: 20px 0px;
        }

        ul:before {
            content: "";
            background: var(--color-header-1);
            display: inline-block;
            position: absolute;
            top: 47px;
            width: 1.5px;
            // height: 50%;
            z-index: 400;
            left: 34.5px;
        }

        li:before {
            content: " ";
            left: 30px;
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid var(--color-primary);
            width: 10px;
            height: 10px;
            z-index: 400;
            transform: translate(0px, 5px);
            // top: 25px;
        }

        .list-description {
            color: #777;
        }
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border-radius: 5px;
    height: 75px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    // position: sticky;

    // flex-wrap: wrap;

    @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 5px;
        height: 75px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        position: sticky;
        top: 20px;
        z-index: 9999;
    }

    .home-button {
        // padding: 20px;
        font-size: 2rem;
        color: #fff;
        background: var(--color-primary);
        height: 100%;
        width: 75px;
        text-align: center;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        a {
            color: #fff;
        }
    }

    .navlist,
    .sociallist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .navlist {
        width: 55%;

        @media only screen and (max-width: 900px) {
            display: none;
        }
        .list-item {
            padding: 15px;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 600;

            a {
                color: var(--color-font-primary);
                transition: 0.4s;
                &:hover {
                    color: var(--color-primary);
                    transition: 0.4s;
                }

                &.active {
                    color: var(--color-primary);
                }
            }
        }
    }

    .sociallist {
        justify-content: flex-end;

        .list-item {
            padding: 13px;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 600;
            transition: 0.5s;
            a {
                color: var(--color-font-primary);
            }

            &:hover {
                font-size: 1.8rem;
                transition: 0.5s;
                padding: 10px;
            }
        }
    }

    .hire-btn {
        padding: 10px 20px;
        font-size: 1.2rem;
        color: #fff;
        background: var(--color-primary);
        border-radius: 30px;
        display: flex;
        text-align: center;

        justify-content: center;
        align-content: center;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width: 900px) {
            display: none;
        }
        .btn {
            font-weight: 600;
            color: #fff !important;
        }

        i {
            position: absolute;
            font-size: 1.5rem;
            padding: 7px;
            background: #fff;
            border-radius: 50%;
            color: #000;
        }
    }

    .mobile_nav_btn {
        font-size: 2.7rem;
        color: #fff;
        display: none;
        height: 100%;
        width: 65px;
        text-align: center;
        // display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        border-left: 1px solid #eaeaea;
        a {
            color: #000 !important;
        }

        @media only screen and (max-width: 900px) {
            display: flex;
        }
    }
}

.mobile-navigation {
    font-size: 2rem;
    background: #fff;
    text-align: center;
    align-content: center;
    display: none;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.14);
    position: sticky;
    top: 140px;
    z-index: 999;

    @media only screen and (max-width: 900px) {
        &.active {
            display: flex;
        }
    }

    ul {
        list-style: none;
        width: 100%;
        // background: red;
    }

    .mobile-links {
        padding: 25px 0px;
        border-bottom: 1px solid #eaeaea;
        font-weight: bold;

        a {
            color: #000;

            &.active {
                color: var(--color-primary);
            }
        }
        // height: 50px;
        // width: 100%;
    }
}

footer {
    padding: 20px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;

    .title {
        font-size: 1.7rem;
    }

    .copyright {
        color: #777;
        font-size: 1.2rem;
    }
}

.fa-twitter:hover {
    color: #00acee;
    transition: 0.2s;
}

.fa-linkedin-in:hover {
    color: #0077b5;
    transition: 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
    transition: 0.2s;
}

.fa-instagram:hover {
    background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s;
}
