.content {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    // position: relative;
    section {
        padding-top: 20px;
    }
    h4 {
        position: relative;
        display: inline-block;
        font-size: 2.1rem;
        margin: 20px 0px;
    }

    h4:before {
        content: "  ";
        position: absolute;
        height: 8px;
        width: 100%;
        bottom: 6px;
        opacity: 0.4;
        left: 0;
        background: var(--color-primary);
    }

    p {
        font-size: 1.4rem;
        color: #777;
        letter-spacing: 0.1px;
    }
}

#home,
#resume {
    .card-container {
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media only screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }

        .card {
            display: flex;
            flex-direction: column;
            width: 30%;
            padding: 15px;
            // border: 1px solid black;
            border-radius: 5px;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.14);
            transition: 0.8s;

            @media only screen and (max-width: 900px) {
                width: 100%;
                margin-bottom: 20px;
            }

            &:hover {
                // box-shadow: 0 1rem 3rem rgba(66, 92, 187, 0.3);
                box-shadow: 0 1rem 3rem #00b4d94d;
                transition: 0.8s;
            }

            & > * {
                padding: 1px 0px;
            }

            .card-icon {
                font-size: 4rem;
                font-weight: 500;

                i {
                    color: var(--color-primary);
                }
            }

            .card-heading {
                color: #000;
                font-size: 1.8rem;
                font-weight: 600;
            }

            .card-description p {
                font: 1.2rem;
                color: #777;
            }
        }
    }

    .skills {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: stretch;

        @media only screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }

        & > * {
            width: 47%;

            @media only screen and (max-width: 900px) {
                width: 100%;
            }
        }

        .progress {
            display: flex;
            height: 0.5rem;
            overflow: hidden;
            line-height: 0;
            font-size: 0.75rem;
            background: #e9ecef;
            border-radius: 10rem;
            margin: 10px 0px 15px 0px;
        }

        .progress-bar {
            background-color: var(--color-primary);
        }

        .progress-bar {
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            overflow: hidden;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-color: var(--color-primary);
            transition: width 0.6s ease;
        }
    }
}

#resume {
    .history {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: relative;

        @media only screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }

        & > * {
            width: 47%;

            @media only screen and (max-width: 900px) {
                width: 100%;
            }
        }

        .work {
            position: relative;
            li {
                list-style: none;
                padding-left: 60px;
                height: auto;
                margin: 20px 0px;

                .list-header {
                    color: #000;
                }
            }

            ul:before {
                content: "";
                background: var(--color-header-1);
                display: inline-block;
                position: absolute;
                // top: 25px;
                width: 1px;
                // height: 49%;
                z-index: 400;
                left: 30px;
            }

            .list-heading:before {
                content: "  ";
                left: 30px;
                background: var(--color-primary);
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                // border: 3px solid var(--color-primary);
                width: 50px;
                height: 50px;
                z-index: 400;
                transform: translate(-50%, -10%);
            }

            .list-heading {
                list-style: none;
                padding-left: 80px;
                // height: 50px;
                margin: 40px 0px;

                p {
                    font-size: 2rem;
                    color: #000;
                    font-weight: 600;
                }
            }

            li:before {
                content: " ";
                left: 26px;
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid var(--color-primary);
                width: 10px;
                height: 10px;
                z-index: 400;
                transform: translate(0px, 5px);
                // top: 25px;
            }

            .list-description {
                color: #777;
            }

            .list-head {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .list-date {
                font-size: 1.3rem;
                font-style: italic;
            }
        }

        .education {
            position: relative;
            li {
                list-style: none;
                padding-left: 60px;
                height: auto;
                margin: 20px 0px;

                .list-header {
                    color: #000;
                }
            }

            ul:before {
                content: "";
                background: var(--color-header-1);
                display: inline-block;
                position: absolute;
                // top: 25px;
                width: 1px;
                // height: 39%;
                z-index: 400;
                left: 30px;
            }

            .list-heading:before {
                content: "  ";
                left: 30px;
                background: var(--color-primary);
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                // border: 3px solid var(--color-primary);
                width: 50px;
                height: 50px;
                z-index: 400;
                transform: translate(-50%, -10%);
            }

            .list-heading {
                list-style: none;
                padding-left: 80px;
                // height: 50px;
                margin: 40px 0px;

                p {
                    font-size: 2rem;
                    color: #000;
                    font-weight: 600;
                }
            }

            li:before {
                content: " ";
                left: 26px;
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid var(--color-primary);
                width: 10px;
                height: 10px;
                z-index: 400;
                transform: translate(0px, 5px);
                // top: 25px;
            }

            .list-description {
                color: #777;
            }

            .list-head {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .list-date {
                font-size: 1.3rem;
                font-style: italic;
            }
        }
    }
}

.soft-skills {
    .skill-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        align-content: center;

        @media only screen and (max-width: 900px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }

        .skill {
            width: 250px;
            // background: #eee;
            height: auto;

            .skill-title {
                font-size: 1.5rem;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;

    @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    & > * {
        width: 47%;

        @media only screen and (max-width: 900px) {
            width: 100%;
        }
    }

    .input-field {
        position: relative;
        width: 100%;
        line-height: 44px;
        height: 34px;
        margin-bottom: 30px;

        input:invalid,
        textarea:invalid {
            outline: 0;
        }

        input,
        textarea {
            width: 100%;
            border: 0;
            outline: 0;
            padding: 1rem 0;
            border-bottom: 2px solid var(--color-font-primary);
            box-shadow: none;
            color: var(--color-font-secondary);
            background-color: inherit;
            font-weight: bold;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: var(--color-font-secondary);
            transition: 0.2s all;
            cursor: text;
            font-size: 1.6rem;
            // font-weight: bold;
        }

        input:focus,
        textarea:focus,
        textarea:valid {
            border-color: var(--color-font-primary);
        }

        input:focus ~ label,
        input:valid ~ label,
        textarea:focus ~ label,
        textarea:valid ~ label {
            font-size: 1.2rem;
            font-weight: bold;
            padding-bottom: 3px;
            top: -24px;
            color: var(--color-font-primary);
        }

        textarea {
            resize: none;
        }
    }
    #form-submit-btn {
        border-bottom: 2px solid var(--color-primary);
        border-top: 2px solid var(--color-primary);
        border-left: 2px solid var(--color-primary);
        border-right: 2px solid var(--color-primary);
        height: 80px;
        margin-top: 72px;
        font-size: 2rem;
        // font-weight: bold;
        cursor: pointer;
        transition: 0.3s all ease-in;
        width: 100%;
        color: var(--color-primary);
        background: #fff;

        &[disabled] {
            border: 1px solid #999999;
            // background-color: #cccccc;
            color: #999999;
        }
    }

    #form-submit-btn:hover {
        background-color: var(--color-font-primary);
        color: #fff;
        transition: 0.3s all ease-in;
        border-bottom: 2px solid #000;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
    }
}

.contact-information {
    p {
        margin: 10px 0px;
        font-size: 1.5rem;

        .list-header {
            font-weight: bold;
        }
    }

    .info-list {
        position: relative;
        font-size: 1.5rem;

        li {
            list-style: none;
            padding-left: 40px;
            height: 100%;
            margin: 20px 0px;
        }

        ul:before {
            content: " ";
            background: var(--color-header-1);
            display: inline-block;
            position: absolute;
            top: 10px;
            width: 2px;
            // height: 83%;
            z-index: 400;
            left: 16px;
        }

        li:before {
            content: " ";
            left: 10px;
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid var(--color-primary);
            width: 13px;
            height: 13px;
            z-index: 400;
            transform: translate(0px, 5px);
            // top: 25px;
        }

        .list-description {
            color: #777;
        }
    }

    .sociallist {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;

        @media only screen and (max-width: 900px) {
            margin-left: 0px;
        }

        .list-item {
            padding: 0px 15px;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            transition: 0.5s;
            a {
                color: var(--color-font-primary);
            }

            &:hover {
                font-size: 2rem;
                transition: 0.5s;
                padding: 0px 15px;
            }
        }
    }
}

.list-heading-icon {
    position: absolute;
    font-size: 2rem;
    z-index: 450;
    top: 43px;
    left: 20px;
    color: #fff;

    @media only screen and (max-width: 900px) {
        top: 45px;
        left: 20px;
    }
}
