.container {
    background: #fff;
    display: flex;
    justify-content: flex-start;

    @media only screen and (max-width: 900px) {
        justify-content: center;
        flex-direction: column;
    }

    .side-bar {
        background-color: #fff;
        flex: 0 0 25%;
        // padding: 20px;
        max-width: 25%;
        margin-right: 20px;
        max-height: 650px;
        margin: 60px 30px 60px 50px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;

        & > * {
            padding: 20px;
        }

        @media only screen and (max-width: 900px) {
            flex: 0 0 100%;
            // padding: 20px;
            max-width: 100%;
            margin-right: 0px;
            margin: 20px 20px 20px 20px;
        }
    }

    .main {
        flex: 1;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    margin: 60px 50px 60px 0px;
    // box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;

    @media only screen and (max-width: 900px) {
        margin: 20px 20px 20px 20px;
    }

    & > * {
        // padding: 20px;
        background-color: red;
    }

    .content {
        margin: 30px 0px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }
}
