@import "base";
@import "layout";
@import "component";
@import "content";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;600&family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap");
