@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;600&family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap");
:root {
  --color-primary: #00b4d9;
  --color-primary-light: #efecf0;
  --color-primary-dark: #dad8da;
  --color-font-primary: #000;
  --color-font-secondary: #777;
  --color-header-1: #585665;
  --color-header-2: #ee6055;
  --color-header-3: #102542;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0px;
  padding: 0px; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 60%; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-font-primary);
  background-color: var(--color-primary-light); }
  body a {
    text-decoration: none !important; }

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1; }

::-webkit-scrollbar {
  width: 5px;
  background: transparent; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-primary); }

.container {
  background: #fff;
  display: flex;
  justify-content: flex-start; }
  @media only screen and (max-width: 900px) {
    .container {
      justify-content: center;
      flex-direction: column; } }
  .container .side-bar {
    background-color: #fff;
    flex: 0 0 25%;
    max-width: 25%;
    margin-right: 20px;
    max-height: 650px;
    margin: 60px 30px 60px 50px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }
    .container .side-bar > * {
      padding: 20px; }
    @media only screen and (max-width: 900px) {
      .container .side-bar {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0px;
        margin: 20px 20px 20px 20px; } }
  .container .main {
    flex: 1; }

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  margin: 60px 50px 60px 0px; }
  @media only screen and (max-width: 900px) {
    main {
      margin: 20px 20px 20px 20px; } }
  main > * {
    background-color: red; }
  main .content {
    margin: 30px 0px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }

.side-bar {
  border-radius: 2%; }
  .side-bar .img-container {
    padding: 0px;
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%); }
    @media only screen and (max-width: 900px) {
      .side-bar .img-container {
        height: 80%; } }
  .side-bar .first-name {
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase; }
  .side-bar .designation {
    font-size: 1.5em;
    font-weight: 400;
    color: #777; }
  .side-bar .info-list {
    position: relative;
    font-size: 1.5rem; }
    .side-bar .info-list li {
      list-style: none;
      padding-left: 40px;
      height: 100%;
      margin: 20px 0px; }
    .side-bar .info-list ul:before {
      content: "";
      background: var(--color-header-1);
      display: inline-block;
      position: absolute;
      top: 47px;
      width: 1.5px;
      z-index: 400;
      left: 34.5px; }
    .side-bar .info-list li:before {
      content: " ";
      left: 30px;
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid var(--color-primary);
      width: 10px;
      height: 10px;
      z-index: 400;
      transform: translate(0px, 5px); }
    .side-bar .info-list .list-description {
      color: #777; }

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border-radius: 5px;
  height: 75px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }
  @media only screen and (max-width: 900px) {
    .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      border-radius: 5px;
      height: 75px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      position: sticky;
      top: 20px;
      z-index: 9999; } }
  .navbar .home-button {
    font-size: 2rem;
    color: #fff;
    background: var(--color-primary);
    height: 100%;
    width: 75px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .navbar .home-button a {
      color: #fff; }
  .navbar .navlist,
  .navbar .sociallist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
  .navbar .navlist {
    width: 55%; }
    @media only screen and (max-width: 900px) {
      .navbar .navlist {
        display: none; } }
    .navbar .navlist .list-item {
      padding: 15px;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 600; }
      .navbar .navlist .list-item a {
        color: var(--color-font-primary);
        transition: 0.4s; }
        .navbar .navlist .list-item a:hover {
          color: var(--color-primary);
          transition: 0.4s; }
        .navbar .navlist .list-item a.active {
          color: var(--color-primary); }
  .navbar .sociallist {
    justify-content: flex-end; }
    .navbar .sociallist .list-item {
      padding: 13px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 600;
      transition: 0.5s; }
      .navbar .sociallist .list-item a {
        color: var(--color-font-primary); }
      .navbar .sociallist .list-item:hover {
        font-size: 1.8rem;
        transition: 0.5s;
        padding: 10px; }
  .navbar .hire-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background: var(--color-primary);
    border-radius: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center; }
    @media only screen and (max-width: 900px) {
      .navbar .hire-btn {
        display: none; } }
    .navbar .hire-btn .btn {
      font-weight: 600;
      color: #fff !important; }
    .navbar .hire-btn i {
      position: absolute;
      font-size: 1.5rem;
      padding: 7px;
      background: #fff;
      border-radius: 50%;
      color: #000; }
  .navbar .mobile_nav_btn {
    font-size: 2.7rem;
    color: #fff;
    display: none;
    height: 100%;
    width: 65px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid #eaeaea; }
    .navbar .mobile_nav_btn a {
      color: #000 !important; }
    @media only screen and (max-width: 900px) {
      .navbar .mobile_nav_btn {
        display: flex; } }

.mobile-navigation {
  font-size: 2rem;
  background: #fff;
  text-align: center;
  align-content: center;
  display: none;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 140px;
  z-index: 999; }
  @media only screen and (max-width: 900px) {
    .mobile-navigation.active {
      display: flex; } }
  .mobile-navigation ul {
    list-style: none;
    width: 100%; }
  .mobile-navigation .mobile-links {
    padding: 25px 0px;
    border-bottom: 1px solid #eaeaea;
    font-weight: bold; }
    .mobile-navigation .mobile-links a {
      color: #000; }
      .mobile-navigation .mobile-links a.active {
        color: var(--color-primary); }

footer {
  padding: 20px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }
  footer .title {
    font-size: 1.7rem; }
  footer .copyright {
    color: #777;
    font-size: 1.2rem; }

.fa-twitter:hover {
  color: #00acee;
  transition: 0.2s; }

.fa-linkedin-in:hover {
  color: #0077b5;
  transition: 0.2s; }

.fa-facebook-f:hover {
  color: #3b5998;
  transition: 0.2s; }

.fa-instagram:hover {
  background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s; }

.content {
  padding: 30px;
  background: #fff;
  border-radius: 5px; }
  .content section {
    padding-top: 20px; }
  .content h4 {
    position: relative;
    display: inline-block;
    font-size: 2.1rem;
    margin: 20px 0px; }
  .content h4:before {
    content: "  ";
    position: absolute;
    height: 8px;
    width: 100%;
    bottom: 6px;
    opacity: 0.4;
    left: 0;
    background: var(--color-primary); }
  .content p {
    font-size: 1.4rem;
    color: #777;
    letter-spacing: 0.1px; }

#home .card-container,
#resume .card-container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch; }
  @media only screen and (max-width: 900px) {
    #home .card-container,
    #resume .card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch; } }
  #home .card-container .card,
  #resume .card-container .card {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.14);
    transition: 0.8s; }
    @media only screen and (max-width: 900px) {
      #home .card-container .card,
      #resume .card-container .card {
        width: 100%;
        margin-bottom: 20px; } }
    #home .card-container .card:hover,
    #resume .card-container .card:hover {
      box-shadow: 0 1rem 3rem #00b4d94d;
      transition: 0.8s; }
    #home .card-container .card > *,
    #resume .card-container .card > * {
      padding: 1px 0px; }
    #home .card-container .card .card-icon,
    #resume .card-container .card .card-icon {
      font-size: 4rem;
      font-weight: 500; }
      #home .card-container .card .card-icon i,
      #resume .card-container .card .card-icon i {
        color: var(--color-primary); }
    #home .card-container .card .card-heading,
    #resume .card-container .card .card-heading {
      color: #000;
      font-size: 1.8rem;
      font-weight: 600; }
    #home .card-container .card .card-description p,
    #resume .card-container .card .card-description p {
      font: 1.2rem;
      color: #777; }

#home .skills,
#resume .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch; }
  @media only screen and (max-width: 900px) {
    #home .skills,
    #resume .skills {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch; } }
  #home .skills > *,
  #resume .skills > * {
    width: 47%; }
    @media only screen and (max-width: 900px) {
      #home .skills > *,
      #resume .skills > * {
        width: 100%; } }
  #home .skills .progress,
  #resume .skills .progress {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background: #e9ecef;
    border-radius: 10rem;
    margin: 10px 0px 15px 0px; }
  #home .skills .progress-bar,
  #resume .skills .progress-bar {
    background-color: var(--color-primary); }
  #home .skills .progress-bar,
  #resume .skills .progress-bar {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--color-primary);
    transition: width 0.6s ease; }

#resume .history {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative; }
  @media only screen and (max-width: 900px) {
    #resume .history {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch; } }
  #resume .history > * {
    width: 47%; }
    @media only screen and (max-width: 900px) {
      #resume .history > * {
        width: 100%; } }
  #resume .history .work {
    position: relative; }
    #resume .history .work li {
      list-style: none;
      padding-left: 60px;
      height: auto;
      margin: 20px 0px; }
      #resume .history .work li .list-header {
        color: #000; }
    #resume .history .work ul:before {
      content: "";
      background: var(--color-header-1);
      display: inline-block;
      position: absolute;
      width: 1px;
      z-index: 400;
      left: 30px; }
    #resume .history .work .list-heading:before {
      content: "  ";
      left: 30px;
      background: var(--color-primary);
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      z-index: 400;
      transform: translate(-50%, -10%); }
    #resume .history .work .list-heading {
      list-style: none;
      padding-left: 80px;
      margin: 40px 0px; }
      #resume .history .work .list-heading p {
        font-size: 2rem;
        color: #000;
        font-weight: 600; }
    #resume .history .work li:before {
      content: " ";
      left: 26px;
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid var(--color-primary);
      width: 10px;
      height: 10px;
      z-index: 400;
      transform: translate(0px, 5px); }
    #resume .history .work .list-description {
      color: #777; }
    #resume .history .work .list-head {
      font-size: 1.5rem;
      font-weight: 600; }
    #resume .history .work .list-date {
      font-size: 1.3rem;
      font-style: italic; }
  #resume .history .education {
    position: relative; }
    #resume .history .education li {
      list-style: none;
      padding-left: 60px;
      height: auto;
      margin: 20px 0px; }
      #resume .history .education li .list-header {
        color: #000; }
    #resume .history .education ul:before {
      content: "";
      background: var(--color-header-1);
      display: inline-block;
      position: absolute;
      width: 1px;
      z-index: 400;
      left: 30px; }
    #resume .history .education .list-heading:before {
      content: "  ";
      left: 30px;
      background: var(--color-primary);
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      z-index: 400;
      transform: translate(-50%, -10%); }
    #resume .history .education .list-heading {
      list-style: none;
      padding-left: 80px;
      margin: 40px 0px; }
      #resume .history .education .list-heading p {
        font-size: 2rem;
        color: #000;
        font-weight: 600; }
    #resume .history .education li:before {
      content: " ";
      left: 26px;
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid var(--color-primary);
      width: 10px;
      height: 10px;
      z-index: 400;
      transform: translate(0px, 5px); }
    #resume .history .education .list-description {
      color: #777; }
    #resume .history .education .list-head {
      font-size: 1.5rem;
      font-weight: 600; }
    #resume .history .education .list-date {
      font-size: 1.3rem;
      font-style: italic; }

.soft-skills .skill-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  align-content: center; }
  @media only screen and (max-width: 900px) {
    .soft-skills .skill-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch; } }
  .soft-skills .skill-container .skill {
    width: 250px;
    height: auto; }
    .soft-skills .skill-container .skill .skill-title {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 600; }

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch; }
  @media only screen and (max-width: 900px) {
    #contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch; } }
  #contact > * {
    width: 47%; }
    @media only screen and (max-width: 900px) {
      #contact > * {
        width: 100%; } }
  #contact .input-field {
    position: relative;
    width: 100%;
    line-height: 44px;
    height: 34px;
    margin-bottom: 30px; }
    #contact .input-field input:invalid,
    #contact .input-field textarea:invalid {
      outline: 0; }
    #contact .input-field input,
    #contact .input-field textarea {
      width: 100%;
      border: 0;
      outline: 0;
      padding: 1rem 0;
      border-bottom: 2px solid var(--color-font-primary);
      box-shadow: none;
      color: var(--color-font-secondary);
      background-color: inherit;
      font-weight: bold; }
    #contact .input-field label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: var(--color-font-secondary);
      transition: 0.2s all;
      cursor: text;
      font-size: 1.6rem; }
    #contact .input-field input:focus,
    #contact .input-field textarea:focus,
    #contact .input-field textarea:valid {
      border-color: var(--color-font-primary); }
    #contact .input-field input:focus ~ label,
    #contact .input-field input:valid ~ label,
    #contact .input-field textarea:focus ~ label,
    #contact .input-field textarea:valid ~ label {
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 3px;
      top: -24px;
      color: var(--color-font-primary); }
    #contact .input-field textarea {
      resize: none; }
  #contact #form-submit-btn {
    border-bottom: 2px solid var(--color-primary);
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    height: 80px;
    margin-top: 72px;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s all ease-in;
    width: 100%;
    color: var(--color-primary);
    background: #fff; }
    #contact #form-submit-btn[disabled] {
      border: 1px solid #999999;
      color: #999999; }
  #contact #form-submit-btn:hover {
    background-color: var(--color-font-primary);
    color: #fff;
    transition: 0.3s all ease-in;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000; }

.contact-information p {
  margin: 10px 0px;
  font-size: 1.5rem; }
  .contact-information p .list-header {
    font-weight: bold; }

.contact-information .info-list {
  position: relative;
  font-size: 1.5rem; }
  .contact-information .info-list li {
    list-style: none;
    padding-left: 40px;
    height: 100%;
    margin: 20px 0px; }
  .contact-information .info-list ul:before {
    content: " ";
    background: var(--color-header-1);
    display: inline-block;
    position: absolute;
    top: 10px;
    width: 2px;
    z-index: 400;
    left: 16px; }
  .contact-information .info-list li:before {
    content: " ";
    left: 10px;
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
    width: 13px;
    height: 13px;
    z-index: 400;
    transform: translate(0px, 5px); }
  .contact-information .info-list .list-description {
    color: #777; }

.contact-information .sociallist {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px; }
  @media only screen and (max-width: 900px) {
    .contact-information .sociallist {
      margin-left: 0px; } }
  .contact-information .sociallist .list-item {
    padding: 0px 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s; }
    .contact-information .sociallist .list-item a {
      color: var(--color-font-primary); }
    .contact-information .sociallist .list-item:hover {
      font-size: 2rem;
      transition: 0.5s;
      padding: 0px 15px; }

.list-heading-icon {
  position: absolute;
  font-size: 2rem;
  z-index: 450;
  top: 43px;
  left: 20px;
  color: #fff; }
  @media only screen and (max-width: 900px) {
    .list-heading-icon {
      top: 45px;
      left: 20px; } }
